<a href="https://colab.research.google.com/github/yakubszatkowski/100_days_python/blob/master/Day_71/Day_71_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 71 - Data Exploration with pandas College Major vs your salary - 15:30

# Introduction

In [ ]:
import pandas as pd

In [49]:
df = pd.read_csv('salaries_by_college_major.csv')

In [ ]:
# show first 5 rows of dataframe
df.head()  
# show dimensions of dataframe
df.shape
# shows columns names 
df.columns
# shows #N/A
df.isna()
# shows last couple of rows in dataframe
df.tail()
# creating a database without NA values
clean_df = df.dropna()
clean_df.tail()
# shows values from Starting Median Salary column
clean_df['Starting Median Salary']
# shows the highest value in Starting Median Salary
clean_df['Starting Median Salary'].max()
# shows index of the row containing highest value in Starting Median Salary
clean_df['Starting Median Salary'].idxmax()
# shows the data of 43's row of Undergraduate Major's column
# clean_df['Undergraduate Major'].loc[43]
clean_df['Undergraduate Major'][43]
# shows the whole data of 43's row
clean_df.loc[43]

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [ ]:
highest_mid_salary_id = clean_df['Mid-Career Median Salary'].idxmax()
clean_df.loc[highest_mid_salary_id]
# or clean_df.loc[highest_mid_salary_id][0]

Which college major has the lowest starting salary and how much do graduates earn after university?

In [ ]:
lowest_start_salary_id = clean_df['Starting Median Salary'].idxmin()
clean_df.loc[lowest_start_salary_id]

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [ ]:
lowest_mid_salary_id = clean_df['Mid-Career Median Salary'].idxmin()
clean_df.loc[lowest_mid_salary_id]

# Sorting Values & Adding Columns: Majors with the Most Potential vs Lowest Risk

Lowest Risk Majors 

Adding a column with difference between mid-career 90th precentile salary and 10th precientile salary

In [ ]:
# creating a difference column called 'spread_col'
spread_col = clean_df['Mid-Career 90th Percentile Salary']-clean_df['Mid-Career 10th Percentile Salary']
# inserting spread_col column into the dataframe with name 'Spread' as first column
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

Sorting dataframe by lowest spread

In [ ]:
low_risk = clean_df.sort_values('Spread')  # ascending=True is by default
low_risk

Highest Potential majors

In [ ]:
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

Greatest spread majors

In [ ]:
greatest_spread = clean_df.sort_values('Spread', ascending=False)
greatest_spread[['Undergraduate Major', 'Spread']].head()

# Grouping and Pivoting Data

In [ ]:
# counts the amount of rows in groups
count = clean_df.groupby('Group').count()
# calculates mean value of the groups
mean = clean_df.groupby('Group').mean()
pd.options.display.float_format = '{:,.0f}'.format
mean

Today's Learning Points

*   Use `.head()`, `.tail()`, `.shape` and `.columns` to explore your DataFrame and find out the number of rows and columns as well as the column names.

*   Look for NaN (not a number) values with `.isna()` and consider using `.dropna()` to clean up your DataFrame.

*   You can access entire columns of a DataFrame using the square bracket notation: `df['column name']` or` df[['column name 1', 'column name 2', 'column name 3']]`

*   You can access individual cells in a DataFrame by chaining square brackets `df['column name'][index]` or using `df['column name'].loc[index]`

* The largest and smallest values, as well as their positions, can be found with methods like `.max()`, `.min()`, `.idxmax()` and `.idxmin()`

* You can sort the DataFrame with `.sort_values()` and add new columns with `.insert()`

* To create an Excel Style Pivot Table by grouping entries that belong to a particular category use the `.groupby()` method